<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cross-products" xsi:type="object">Boxydev\Checkout\Model\DefaultConfigProvider</item>
                <item name="boxydev-config-provider" xsi:type="object">Boxydev\Checkout\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Boxydev\Checkout\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="boxydev" xsi:type="const">Boxydev\Checkout\Model\Payment\Boxydev::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="LayoutProcessorPlugin" type="Boxydev\Checkout\Plugin\LayoutProcessorPlugin" sortOrder="1" />
    </type>

    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="my-layout" xsi:type="object">Boxydev\Checkout\Block\Checkout\MyLayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
