<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <boxydev>
                <active>1</active>
                <debug>1</debug>
                <model>Boxydev\Checkout\Model\Payment\Boxydev</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <title>Boxydev</title>
                <cctypes>VI,MC</cctypes>
                <allowspecific>0</allowspecific>
            </boxydev>
        </payment>
    </default>
</config>
